# if ENV=DEV the DEBUG flag will be set to True in settings.py
ENV=DEV
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST_PORT=
BASE_URL=your-server-url
DJANGO_SECRET=***changeme***
ENABLE_SSL=False
ENABLE_2FA=
